openapi: 3.0.1
info:
  title: Vantage
  description: Vantage API
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
  - url: https://api.vantage.sh/v2
security:
  - oauth2:
      - read
tags:
  - name: Workspaces
    description: Operations about Workspaces
  - name: Folders
    description: Operations about Folders
  - name: SavedFilters
    description: Operations about SavedFilters
  - name: Costs
    description: Operations about Costs
  - name: Segments
    description: Operations about Segments
  - name: Dashboards
    description: Operations about Dashboards
  - name: Resources
    description: Operations about Resources
  - name: ResourceReports
    description: Operations about ResourceReports
  - name: Teams
    description: Operations about Teams
  - name: AccessGrants
    description: Operations about AccessGrants
  - name: ReportNotifications
    description: Operations about ReportNotifications
  - name: Users
    description: Operations about Users
  - name: BusinessMetrics
    description: Operations about BusinessMetrics
  - name: Prices
    description: Operations about Prices
  - name: FinancialCommitmentReports
    description: Operations about FinancialCommitmentReports
  - name: FinancialCommitments
    description: Operations about FinancialCommitments
  - name: KubernetesEfficiencyReports
    description: Operations about KubernetesEfficiencyReports
  - name: NetworkFlowReports
    description: Operations about NetworkFlowReports
  - name: AnomalyAlerts
    description: Operations about AnomalyAlerts
  - name: VirtualTags
    description: Operations about VirtualTags
  - name: Tags
    description: Operations about Tags
  - name: AnomalyNotifications
    description: Operations about AnomalyNotifications
  - name: Budgets
    description: Operations about Budgets
  - name: BudgetAlerts
    description: Operations about BudgetAlerts
  - name: Integrations
    description: Operations about Integrations
  - name: Recommendations
    description: Operations about Recommendations
  - name: ManagedAccounts
    description: Operations about ManagedAccounts
  - name: BillingRules
    description: Operations about BillingRules
  - name: Ping
    description: Operations about Pings
paths:
  /workspaces:
    get:
      tags:
        - Workspaces
      description: Return all Workspaces that the current API token has access to.
      operationId: getWorkspaces
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspaces"
              example:
                workspaces:
                  - token: wrkspc_5d9752a116e4d28e
                    name: "Gulgowski, Ruecker and Rolfson b7f1c249"
                    created_at: 2024-10-01T01:00:56Z
                    enable_currency_conversion: false
                    currency: USD
                    exchange_rate_date: daily_rate
                  - token: wrkspc_9a319290712d817d
                    name: Stokes Inc 2d705dab
                    created_at: 2024-10-01T01:00:56Z
                    enable_currency_conversion: false
                    currency: USD
                    exchange_rate_date: daily_rate
      security:
        - oauth2:
            - read
    post:
      tags:
        - Workspaces
      description: Create a workspace
      operationId: createWorkspace
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
              type: object
              properties:
                name:
                  type: string
                  description: Name of the workspace.
                enable_currency_conversion:
                  type: boolean
                  description: Enable currency conversion for the workspace.
                  default: true
                currency:
                  type: string
                  description: Currency code for the workspace.
                exchange_rate_date:
                  type: string
                  description: The date to use for currency conversion.
                  default: daily_rate
                  enum:
                    - daily_rate
                    - end_of_billing_period_rate
          multipart/form-data:
            schema:
              required:
                - name
              type: object
              properties:
                name:
                  type: string
                  description: Name of the workspace.
                enable_currency_conversion:
                  type: boolean
                  description: Enable currency conversion for the workspace.
                  default: true
                currency:
                  type: string
                  description: Currency code for the workspace.
                exchange_rate_date:
                  type: string
                  description: The date to use for currency conversion.
                  default: daily_rate
                  enum:
                    - daily_rate
                    - end_of_billing_period_rate
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
              example:
                token: wrkspc_c820c203e53de3e1
                name: Ellingson Mineral Corporation
                created_at: 2024-10-01T01:00:55Z
                enable_currency_conversion: true
                currency: JPY
                exchange_rate_date: end_of_billing_period_rate
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /workspaces/{workspace_token}:
    get:
      tags:
        - Workspaces
      description: Return a specific Workspace.
      operationId: getWorkspace
      parameters:
        - name: workspace_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
              example:
                token: wrkspc_ba4878d880507623
                name: "Emard, Lebsack and Schmidt 551b5e11"
                created_at: 2024-10-01T01:00:55Z
                enable_currency_conversion: false
                currency: USD
                exchange_rate_date: daily_rate
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - Workspaces
      description: Update a workspace
      operationId: updateWorkspace
      parameters:
        - name: workspace_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the workspace.
                enable_currency_conversion:
                  type: boolean
                  description: Enable currency conversion for the workspace.
                  default: true
                currency:
                  type: string
                  description: Currency code for the workspace.
                  enum:
                    - AED
                    - AFN
                    - ALL
                    - AMD
                    - ANG
                    - AOA
                    - ARS
                    - AUD
                    - AWG
                    - AZN
                    - BAM
                    - BBD
                    - BDT
                    - BGN
                    - BHD
                    - BIF
                    - BMD
                    - BND
                    - BOB
                    - BRL
                    - BSD
                    - BTC
                    - BTN
                    - BWP
                    - BYN
                    - BYR
                    - BZD
                    - CAD
                    - CDF
                    - CHF
                    - CLF
                    - CLP
                    - CNY
                    - COP
                    - CRC
                    - CUC
                    - CUP
                    - CVE
                    - CZK
                    - DJF
                    - DKK
                    - DOP
                    - DZD
                    - EGP
                    - ERN
                    - ETB
                    - EUR
                    - FJD
                    - FKP
                    - GBP
                    - GEL
                    - GGP
                    - GHS
                    - GIP
                    - GMD
                    - GNF
                    - GTQ
                    - GYD
                    - HKD
                    - HNL
                    - HRK
                    - HTG
                    - HUF
                    - IDR
                    - ILS
                    - IMP
                    - INR
                    - IQD
                    - IRR
                    - ISK
                    - JEP
                    - JMD
                    - JOD
                    - JPY
                    - KES
                    - KGS
                    - KHR
                    - KMF
                    - KPW
                    - KRW
                    - KWD
                    - KYD
                    - KZT
                    - LAK
                    - LBP
                    - LKR
                    - LRD
                    - LSL
                    - LTL
                    - LVL
                    - LYD
                    - MAD
                    - MDL
                    - MGA
                    - MKD
                    - MMK
                    - MNT
                    - MOP
                    - MRO
                    - MUR
                    - MVR
                    - MWK
                    - MXN
                    - MYR
                    - MZN
                    - NAD
                    - NGN
                    - NIO
                    - NOK
                    - NPR
                    - NZD
                    - OMR
                    - PAB
                    - PEN
                    - PGK
                    - PHP
                    - PKR
                    - PLN
                    - PYG
                    - QAR
                    - RON
                    - RSD
                    - RUB
                    - RWF
                    - SAR
                    - SBD
                    - SCR
                    - SDG
                    - SEK
                    - SGD
                    - SHP
                    - SLL
                    - SOS
                    - SRD
                    - SSP
                    - STD
                    - STN
                    - SVC
                    - SYP
                    - SZL
                    - THB
                    - TJS
                    - TMT
                    - TND
                    - TOP
                    - TRY
                    - TTD
                    - TWD
                    - TZS
                    - UAH
                    - UGX
                    - USD
                    - UYU
                    - UZS
                    - VEF
                    - VND
                    - VUV
                    - WST
                    - XAF
                    - XCD
                    - XDR
                    - XOF
                    - XPF
                    - YER
                    - ZAR
                    - ZMW
                    - ZWL
                exchange_rate_date:
                  type: string
                  description: The date to use for currency conversion.
                  default: daily_rate
                  enum:
                    - daily_rate
                    - end_of_billing_period_rate
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the workspace.
                enable_currency_conversion:
                  type: boolean
                  description: Enable currency conversion for the workspace.
                  default: true
                currency:
                  type: string
                  description: Currency code for the workspace.
                  enum:
                    - AED
                    - AFN
                    - ALL
                    - AMD
                    - ANG
                    - AOA
                    - ARS
                    - AUD
                    - AWG
                    - AZN
                    - BAM
                    - BBD
                    - BDT
                    - BGN
                    - BHD
                    - BIF
                    - BMD
                    - BND
                    - BOB
                    - BRL
                    - BSD
                    - BTC
                    - BTN
                    - BWP
                    - BYN
                    - BYR
                    - BZD
                    - CAD
                    - CDF
                    - CHF
                    - CLF
                    - CLP
                    - CNY
                    - COP
                    - CRC
                    - CUC
                    - CUP
                    - CVE
                    - CZK
                    - DJF
                    - DKK
                    - DOP
                    - DZD
                    - EGP
                    - ERN
                    - ETB
                    - EUR
                    - FJD
                    - FKP
                    - GBP
                    - GEL
                    - GGP
                    - GHS
                    - GIP
                    - GMD
                    - GNF
                    - GTQ
                    - GYD
                    - HKD
                    - HNL
                    - HRK
                    - HTG
                    - HUF
                    - IDR
                    - ILS
                    - IMP
                    - INR
                    - IQD
                    - IRR
                    - ISK
                    - JEP
                    - JMD
                    - JOD
                    - JPY
                    - KES
                    - KGS
                    - KHR
                    - KMF
                    - KPW
                    - KRW
                    - KWD
                    - KYD
                    - KZT
                    - LAK
                    - LBP
                    - LKR
                    - LRD
                    - LSL
                    - LTL
                    - LVL
                    - LYD
                    - MAD
                    - MDL
                    - MGA
                    - MKD
                    - MMK
                    - MNT
                    - MOP
                    - MRO
                    - MUR
                    - MVR
                    - MWK
                    - MXN
                    - MYR
                    - MZN
                    - NAD
                    - NGN
                    - NIO
                    - NOK
                    - NPR
                    - NZD
                    - OMR
                    - PAB
                    - PEN
                    - PGK
                    - PHP
                    - PKR
                    - PLN
                    - PYG
                    - QAR
                    - RON
                    - RSD
                    - RUB
                    - RWF
                    - SAR
                    - SBD
                    - SCR
                    - SDG
                    - SEK
                    - SGD
                    - SHP
                    - SLL
                    - SOS
                    - SRD
                    - SSP
                    - STD
                    - STN
                    - SVC
                    - SYP
                    - SZL
                    - THB
                    - TJS
                    - TMT
                    - TND
                    - TOP
                    - TRY
                    - TTD
                    - TWD
                    - TZS
                    - UAH
                    - UGX
                    - USD
                    - UYU
                    - UZS
                    - VEF
                    - VND
                    - VUV
                    - WST
                    - XAF
                    - XCD
                    - XDR
                    - XOF
                    - XPF
                    - YER
                    - ZAR
                    - ZMW
                    - ZWL
                exchange_rate_date:
                  type: string
                  description: The date to use for currency conversion.
                  default: daily_rate
                  enum:
                    - daily_rate
                    - end_of_billing_period_rate
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
              example:
                token: wrkspc_a44f83d3e85be91d
                name: My Workspace (Edited)
                created_at: 2024-10-01T01:00:56Z
                enable_currency_conversion: true
                currency: EUR
                exchange_rate_date: daily_rate
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
    delete:
      tags:
        - Workspaces
      description: Delete a Workspace
      operationId: deleteWorkspace
      parameters:
        - name: workspace_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /folders:
    get:
      tags:
        - Folders
      description: Return all Folders for CostReports.
      operationId: getFolders
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folders"
              example:
                links:
                  self: https://api.vantage.sh/v2/folders
                  first: https://api.vantage.sh/v2/folders?page=1
                  next: null
                  last: https://api.vantage.sh/v2/folders?page=1
                  prev: null
                folders:
                  - token: fldr_baf37f32280f5444
                    title: synergy
                    parent_folder_token: null
                    created_at: 2023-09-12T05:06:54Z
                    updated_at: 2023-09-12T05:06:54Z
                    workspace_token: wrkspc_f583a08beb76f679
                  - token: fldr_625d4591e46f7dfa
                    title: website
                    parent_folder_token: fldr_baf37f32280f5444
                    created_at: 2023-09-12T05:06:54Z
                    updated_at: 2023-09-12T05:06:54Z
                    workspace_token: wrkspc_f583a08beb76f679
      security:
        - oauth2:
            - read
    post:
      tags:
        - Folders
      description: Create a Folder for CostReports.
      operationId: createFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createFolder"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
              example:
                token: fldr_4aabe6f482c2a9e4
                title: New Folder
                parent_folder_token: fldr_4d29cbecf2601266
                created_at: 2023-09-12T05:06:52Z
                updated_at: 2023-09-12T05:06:52Z
                workspace_token: wrkspc_510cc77828001f9b
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createFolder
  /folders/{folder_token}:
    get:
      tags:
        - Folders
      description: Return a specific Folder for CostReports.
      operationId: getFolder
      parameters:
        - name: folder_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
              example:
                token: fldr_3653e0f460786b1e
                title: intermediate
                parent_folder_token: fldr_b6bf120a1d3a794b
                created_at: 2023-09-12T05:07:36Z
                updated_at: 2023-09-12T05:07:36Z
                workspace_token: wrkspc_a707105ff54966c3
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - Folders
      description: Update a Folder for CostReports.
      operationId: updateFolder
      parameters:
        - name: folder_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateFolder"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
              example:
                token: fldr_68e18d8d7df0be96
                title: New Title
                parent_folder_token: fldr_9aa0c735a6b615c6
                created_at: 2023-09-12T05:06:53Z
                updated_at: 2023-09-12T05:06:53Z
                workspace_token: wrkspc_e65a48e5d9684439
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateFolder
    delete:
      tags:
        - Folders
      description: Delete a Folder for CostReports.
      operationId: deleteFolder
      parameters:
        - name: folder_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /saved_filters:
    get:
      tags:
        - SavedFilters
      description: Return all SavedFilters that can be applied to a CostReport.
      operationId: getSavedFilters
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFilters"
              example:
                links:
                  self: https://api.vantage.sh/v2/saved_filters
                  first: https://api.vantage.sh/v2/saved_filters?page=1
                  next: null
                  last: https://api.vantage.sh/v2/saved_filters?page=1
                  prev: null
                saved_filters:
                  - token: svd_fltr_3dffc0458f7a2487
                    title: Oolong (5)
                    cost_report_tokens:
                      - rprt_3d0ae4648f5fd8f7
                    filter: (costs.provider = 'aws' AND costs.account_id = '30')
                    created_at: 2024-07-15T16:08:53Z
                    created_by: usr_95fac32734bdceab
                    workspace_token: wrkspc_914dcb0959497507
      security:
        - oauth2:
            - read
    post:
      tags:
        - SavedFilters
      description: Create a SavedFilter for CostReports.
      operationId: createSavedFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSavedFilter"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFilter"
              example:
                token: svd_fltr_4de629566ddd68c9
                title: New Saved Filter
                cost_report_tokens: []
                filter: costs.provider = 'datadog'
                created_at: 2024-07-15T16:08:58Z
                created_by: team_e58399e4df1175e9
                workspace_token: wrkspc_e4cacf2493142e5b
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createSavedFilter
  /saved_filters/{saved_filter_token}:
    get:
      tags:
        - SavedFilters
      description: Return a specific SavedFilter.
      operationId: getSavedFilter
      parameters:
        - name: saved_filter_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFilter"
              example:
                token: svd_fltr_be3f24eb1b5aabf6
                title: Green (8)
                cost_report_tokens:
                  - rprt_47023ad2b735f57d
                filter: (costs.provider = 'aws' AND costs.account_id = '98')
                created_at: 2024-07-15T16:08:54Z
                created_by: team_73f6001f98e9012b
                workspace_token: wrkspc_be6568a301b1d06c
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - SavedFilters
      description: Update a SavedFilter for CostReports.
      operationId: updateSavedFilter
      parameters:
        - name: saved_filter_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateSavedFilter"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFilter"
              example:
                token: svd_fltr_eeabf4c7264f94a8
                title: Updated Saved Filter
                cost_report_tokens: []
                filter: costs.provider = 'azure'
                created_at: 2024-07-15T16:08:55Z
                created_by: usr_240a5fd77d5da076
                workspace_token: wrkspc_0b7ef373f9c5d485
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateSavedFilter
    delete:
      tags:
        - SavedFilters
      description: Delete a SavedFilter for CostReports.
      operationId: deleteSavedFilter
      parameters:
        - name: saved_filter_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedFilter"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /cost_reports:
    get:
      tags:
        - Costs
      description: Return all CostReports.
      operationId: getCostReports
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
        - name: folder_token
          in: query
          description: The token for the Folder you would like to fetch Reports from.
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReports"
              example:
                links:
                  self: https://api.vantage.sh/v2/cost_reports
                  first: https://api.vantage.sh/v2/cost_reports?page=1
                  next: null
                  last: https://api.vantage.sh/v2/cost_reports?page=1
                  prev: null
                cost_reports:
                  - token: rprt_36a9e7ada7835b71
                    title: Untitled
                    folder_token: null
                    saved_filter_tokens:
                      - svd_fltr_cd5d6cd654ffbe8a
                    business_metric_tokens_with_metadata: []
                    filter: null
                    groupings: "provider,service"
                    settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                      unallocated: false
                      aggregate_by: cost
                    created_at: 2024-07-03T00:00:00Z
                    workspace_token: wrkspc_2e2953593e6c460a
                    previous_period_start_date: null
                    previous_period_end_date: null
                    start_date: 2024-07-01
                    end_date: 2024-07-31
                    date_interval: this_month
                    chart_type: line
                    date_bin: cumulative
      security:
        - oauth2:
            - read
    post:
      tags:
        - Costs
      description: Create a CostReport.
      operationId: createCostReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCostReport"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReport"
              example:
                token: rprt_833310893a5ef0b8
                title: New Cost Report
                folder_token: fldr_576d66e14d911b2a
                saved_filter_tokens:
                  - svd_fltr_60a55554b600626f
                business_metric_tokens_with_metadata:
                  - business_metric_token: bsnss_mtrc_86c56a209d466fd4
                    unit_scale: per_thousand
                    label_filter:
                      - CBGB
                      - Roxy
                      - Studio 54
                      - ""
                filter:
                  costs.provider = 'aws' AND costs.service = 'Amazon Simple
                  Storage Service'
                groupings: "provider,service"
                settings:
                  include_credits: false
                  include_refunds: false
                  include_discounts: true
                  include_tax: true
                  amortize: true
                  unallocated: false
                  aggregate_by: cost
                created_at: 2024-07-03T00:00:00Z
                workspace_token: wrkspc_c5f205fefde05b46
                previous_period_start_date: null
                previous_period_end_date: null
                start_date: 2024-07-01
                end_date: 2024-07-31
                date_interval: this_month
                chart_type: bar
                date_bin: day
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createCostReport
  /cost_reports/{cost_report_token}:
    get:
      tags:
        - Costs
      description: Return a CostReport.
      operationId: getCostReport
      parameters:
        - name: cost_report_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReport"
              example:
                token: rprt_b82eb9c606b23f6d
                title: Untitled
                folder_token: null
                saved_filter_tokens:
                  - svd_fltr_0d87868df0e54711
                business_metric_tokens_with_metadata: []
                filter: null
                groupings: "provider,service"
                settings:
                  include_credits: false
                  include_refunds: false
                  include_discounts: true
                  include_tax: true
                  amortize: true
                  unallocated: false
                  aggregate_by: cost
                created_at: 2024-07-03T00:00:00Z
                workspace_token: wrkspc_90079dc86b0ea0a8
                previous_period_start_date: null
                previous_period_end_date: null
                start_date: 2024-07-01
                end_date: 2024-07-31
                date_interval: this_month
                chart_type: line
                date_bin: cumulative
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - Costs
      description: Update a CostReport.
      operationId: updateCostReport
      parameters:
        - name: cost_report_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateCostReport"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReport"
              example:
                token: rprt_a490c214f4bbe72f
                title: Updated Cost Report
                folder_token: fldr_8295e9888457f397
                saved_filter_tokens:
                  - svd_fltr_ab6d4f05eaa6810e
                business_metric_tokens_with_metadata:
                  - business_metric_token: bsnss_mtrc_12e5db929bf3922a
                    unit_scale: per_thousand
                    label_filter:
                      - CBGB
                      - Roxy
                      - Studio 54
                      - ""
                  - business_metric_token: bsnss_mtrc_72d01f2ecdbc10fc
                    unit_scale: per_million
                filter: costs.provider = 'azure'
                groupings: "service,account_id"
                settings:
                  include_credits: false
                  include_refunds: false
                  include_discounts: true
                  include_tax: true
                  amortize: true
                  unallocated: false
                  aggregate_by: cost
                created_at: 2024-07-03T00:00:00Z
                workspace_token: wrkspc_820fbab7bc9f61b7
                previous_period_start_date: null
                previous_period_end_date: null
                start_date: 2024-07-01
                end_date: 2024-07-31
                date_interval: this_month
                chart_type: pie
                date_bin: week
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateCostReport
    delete:
      tags:
        - Costs
      description: Delete a CostReport.
      operationId: deleteCostReport
      parameters:
        - name: cost_report_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReport"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /cost_reports/{cost_report_token}/forecasted_costs:
    get:
      tags:
        - Costs
      description: Return all ForecastedCosts.
      operationId: getForecastedCosts
      parameters:
        - name: cost_report_token
          in: path
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          description:
            First date you would like to filter forecasted costs from. ISO
            8601 formatted.
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description:
            Last date you would like to filter forecasted costs from. ISO
            8601 formatted.
          schema:
            type: string
            format: date-time
        - name: provider
          in: query
          description:
            Limit the forecasted costs to a specific provider. 'all' is accepted
            to filter to overall forecast.
          schema:
            type: string
            enum:
              - aws
              - azure
              - gcp
              - snowflake
              - databricks
              - mongo
              - datadog
              - fastly
              - new_relic
              - opencost
              - open_ai
              - oracle
              - confluent
              - planetscale
              - coralogix
              - kubernetes
              - custom_provider
              - github
              - linode
              - grafana
              - clickhouse
              - temporal
              - all
        - name: service
          in: query
          description:
            Limit the forecasted costs to a specific service. 'all' is accepted
            to filter to overall forecast. e.g. 'Amazon ElastiCache'.
          schema:
            type: string
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CostReports"
              example:
                links:
                  self: https://api.vantage.sh/v2/cost_reports/rprt_3769ef9bb67039f5/forecasted_costs
                  first: https://api.vantage.sh/v2/cost_reports/rprt_3769ef9bb67039f5/forecasted_costs?page=1
                  next: null
                  last: https://api.vantage.sh/v2/cost_reports/rprt_3769ef9bb67039f5/forecasted_costs?page=1
                  prev: null
                forecasted_costs:
                  - date: 2024-07-04T00:00:00Z
                    amount: "10.0"
                    provider: all
                    service: all
                  - date: 2024-07-04T00:00:00Z
                    amount: "10.0"
                    provider: aws
                    service: AmazonEC2
                  - date: 2024-07-04T00:00:00Z
                    amount: "10.0"
                    provider: azure
                    service: Virtual Machines
                  - date: 2024-07-05T00:00:00Z
                    amount: "10.0"
                    provider: all
                    service: all
                  - date: 2024-07-05T00:00:00Z
                    amount: "10.0"
                    provider: aws
                    service: AmazonEC2
                  - date: 2024-07-05T00:00:00Z
                    amount: "10.0"
                    provider: azure
                    service: Virtual Machines
                  - date: 2024-07-06T00:00:00Z
                    amount: "10.0"
                    provider: all
                    service: all
                  - date: 2024-07-06T00:00:00Z
                    amount: "10.0"
                    provider: aws
                    service: AmazonEC2
                  - date: 2024-07-06T00:00:00Z
                    amount: "10.0"
                    provider: azure
                    service: Virtual Machines
                currency: USD
      security:
        - oauth2:
            - read
  /segments:
    get:
      tags:
        - Segments
      description: Return all Segments.
      operationId: getSegments
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Segments"
              example:
                links:
                  self: https://api.vantage.sh/v2/segments
                  first: https://api.vantage.sh/v2/segments?page=1
                  next: null
                  last: https://api.vantage.sh/v2/segments?page=1
                  prev: null
                segments:
                  - token: fltr_sgmt_79b0b8ef658d6bba
                    title: neural-net
                    parent_segment_token: null
                    description: Optimized encompassing algorithm
                    track_unallocated: false
                    report_settings:
                      include_credits: false
                      include_refunds: false
                      include_discounts: true
                      include_tax: true
                      amortize: true
                    priority: 100
                    filter: (costs.provider = 'aws')
                    created_at: 2024-05-14T14:34:22Z
                    workspace_token: wrkspc_21f36c4ad272fb7b
                    report_token: rprt_8dd4e1fe3b88c821
      security:
        - oauth2:
            - read
    post:
      tags:
        - Segments
      description: Create a Segment.
      operationId: createSegment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSegment"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Segment"
              example:
                token: fltr_sgmt_a22e3e52e9a93a75
                title: New Segment
                parent_segment_token: fltr_sgmt_7f1af73e92e5e156
                description: I'm a Segment.
                track_unallocated: false
                priority: 100
                filter:
                  costs.provider = 'aws' AND costs.service = 'Amazon Simple
                  Storage Service'
                created_at: 2024-05-14T14:34:24Z
                workspace_token: wrkspc_f75aec7671a72dd3
                report_token: null
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createSegment
  /segments/{segment_token}:
    get:
      tags:
        - Segments
      description: Return a Segment.
      operationId: getSegment
      parameters:
        - name: segment_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Segment"
              example:
                token: fltr_sgmt_e528df30fe4c9da4
                title: Function-based
                parent_segment_token: null
                description: Total multi-tasking encoding
                track_unallocated: false
                report_settings:
                  include_credits: false
                  include_refunds: false
                  include_discounts: true
                  include_tax: true
                  amortize: true
                priority: 100
                filter: (costs.provider = 'aws')
                created_at: 2024-05-14T14:34:18Z
                workspace_token: wrkspc_eb7573db105407df
                report_token: rprt_f7828113036f5fce
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - Segments
      description: Update a Segment.
      operationId: updateSegment
      parameters:
        - name: segment_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateSegment"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Segment"
              example:
                token: fltr_sgmt_1550eb291314035c
                title: Updated Segment
                parent_segment_token: fltr_sgmt_a39cf865967ed4d8
                description: Total object-oriented productivity
                track_unallocated: false
                priority: 42
                filter: costs.provider = 'azure'
                created_at: 2024-05-14T14:34:23Z
                workspace_token: wrkspc_1be9d0445f94db0b
                report_token: rprt_3e460438ae115013
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateSegment
    delete:
      tags:
        - Segments
      description: Delete a Segment.
      operationId: deleteSegment
      parameters:
        - name: segment_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Segment"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /dashboards:
    get:
      tags:
        - Dashboards
        - Costs
      description: Return all Dashboards.
      operationId: getDashboards
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboards"
              example:
                links:
                  self: https://api.vantage.sh/v2/dashboards
                  first: https://api.vantage.sh/v2/dashboards?page=1
                  next: null
                  last: https://api.vantage.sh/v2/dashboards?page=1
                  prev: null
                dashboards:
                  - token: dshbrd_13d78294a06f0f84
                    title: The Torment of Others
                    widget_tokens:
                      - rprt_7c3cb814dfb6d881
                    widgets:
                      - widgetable_token: rprt_7c3cb814dfb6d881
                        title: Untitled
                        settings:
                          display_type: chart
                    saved_filter_tokens:
                      - svd_fltr_3c6f5eb635cf88de
                    date_bin: null
                    date_interval: null
                    start_date: null
                    end_date: null
                    created_at: 2024-12-17T00:44:48Z
                    updated_at: 2024-12-17T00:44:48Z
                    workspace_token: wrkspc_ea1a7802e5fe06b3
      security:
        - oauth2:
            - read
    post:
      tags:
        - Dashboards
        - Costs
      description: Create a Dashboard.
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDashboard"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
              example:
                token: dshbrd_7e272e8d3de34719
                title: New Dashboard
                widget_tokens:
                  - fncl_cmnt_rprt_d4743c186c130e30
                  - kbnts_eff_rprt_892d1566bd543b67
                  - rprt_750074c1b25b372a
                widgets:
                  - widgetable_token: fncl_cmnt_rprt_d4743c186c130e30
                    title: All Financial Commitments
                    settings:
                      display_type: chart
                  - widgetable_token: kbnts_eff_rprt_892d1566bd543b67
                    title:
                      Drinking meh chia single-origin coffee intelligentsia everyday
                      small batch.
                    settings:
                      display_type: table
                  - widgetable_token: rprt_750074c1b25b372a
                    title: Untitled
                    settings:
                      display_type: chart
                saved_filter_tokens:
                  - svd_fltr_3f45aefa131861ac
                date_bin: week
                date_interval: this_month
                start_date: 2023-08-01
                end_date: 2023-08-31
                created_at: 2023-08-15T00:00:00Z
                updated_at: 2023-08-15T00:00:00Z
                workspace_token: wrkspc_08e043cc14ced776
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createDashboard
  /dashboards/{dashboard_token}:
    get:
      tags:
        - Dashboards
        - Costs
      description: Return a specific Dashboard.
      operationId: getDashboard
      parameters:
        - name: dashboard_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
              example:
                links:
                  self: https://api.vantage.sh/v2/dashboards
                  first: https://api.vantage.sh/v2/dashboards?page=1
                  next: null
                  last: https://api.vantage.sh/v2/dashboards?page=1
                  prev: null
                dashboards:
                  - token: dshbrd_e7c5b49d826b6f71
                    title: In Death Ground
                    widget_tokens:
                      - rprt_27e80d7a8d3f34e6
                    widgets:
                      - widgetable_token: rprt_27e80d7a8d3f34e6
                        title: Untitled
                        settings:
                          display_type: chart
                    saved_filter_tokens:
                      - svd_fltr_7bb508e881e7fe5f
                    date_bin: null
                    date_interval: null
                    start_date: null
                    end_date: null
                    created_at: 2024-12-17T00:44:48Z
                    updated_at: 2024-12-17T00:44:48Z
                    workspace_token: wrkspc_245288e3c3a7377f
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - Dashboards
        - Costs
      description: Update a Dashboard.
      operationId: updateDashboard
      parameters:
        - name: dashboard_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDashboard"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
              example:
                token: dshbrd_2c942eb3a8d3962a
                title: Updated Dashboard
                widget_tokens:
                  - fncl_cmnt_rprt_ea316a453acd20c0
                  - kbnts_eff_rprt_e3fc91cb63fd5469
                  - rprt_7b0be9c16c5a6785
                widgets:
                  - widgetable_token: fncl_cmnt_rprt_ea316a453acd20c0
                    title: All Financial Commitments
                    settings:
                      display_type: chart
                  - widgetable_token: kbnts_eff_rprt_e3fc91cb63fd5469
                    title: Green juice listicle irony yolo hella aesthetic hammock.
                    settings:
                      display_type: table
                  - widgetable_token: rprt_7b0be9c16c5a6785
                    title: Untitled
                    settings:
                      display_type: chart
                saved_filter_tokens:
                  - svd_fltr_51c106391f7295b7
                date_bin: week
                date_interval: this_month
                start_date: 2023-08-01
                end_date: 2023-08-31
                created_at: 2024-12-17T00:44:45Z
                updated_at: 2023-08-15T00:00:00Z
                workspace_token: wrkspc_0e5c381029cdc016
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateDashboard
    delete:
      tags:
        - Dashboards
        - Costs
      description: Delete a Dashboard.
      operationId: deleteDashboard
      parameters:
        - name: dashboard_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /costs:
    get:
      tags:
        - Costs
      description: Return all Costs for a CostReport.
      operationId: getCosts
      parameters:
        - name: cost_report_token
          in: query
          description: The CostReport token.
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          description: First date you would like to filter costs from. ISO 8601 formatted.
          schema:
            type: string
        - name: end_date
          in: query
          description: Last date you would like to filter costs to. ISO 8601 formatted.
          schema:
            type: string
        - name: groupings
          in: query
          description:
            "Group the results by specific field(s). Defaults to provider,\
            \ service, account_id. Valid groupings: account_id, billing_account_id,\
            \ charge_type, cost_category, cost_subcategory, provider, region, resource_id,\
            \ service, tagged, tag:<tag_value>. If providing multiple groupings, join\
            \ as comma separated values: groupings=provider,service,region"
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: order
          in: query
          description:
            Whether to order costs by date in an ascending or descending
            manner.
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
        - name: date_bin
          in: query
          description:
            The date bin of the costs. Defaults to the report's default or
            day.
          schema:
            type: string
            enum:
              - day
              - week
              - month
        - name: "settings[include_credits]"
          in: query
          description: Results will include credits.
          schema:
            type: boolean
            default: false
        - name: "settings[include_refunds]"
          in: query
          description: Results will include refunds.
          schema:
            type: boolean
            default: false
        - name: "settings[include_discounts]"
          in: query
          description: Results will include discounts.
          schema:
            type: boolean
            default: true
        - name: "settings[include_tax]"
          in: query
          description: Results will include tax.
          schema:
            type: boolean
            default: true
        - name: "settings[amortize]"
          in: query
          description: Results will amortize.
          schema:
            type: boolean
            default: true
        - name: "settings[unallocated]"
          in: query
          description: Results will show unallocated costs.
          schema:
            type: boolean
            default: false
        - name: "settings[aggregate_by]"
          in: query
          description: Results will aggregate by cost or usage.
          schema:
            type: string
            default: cost
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Costs"
              example:
                links:
                  self: https://api.vantage.sh/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677
                  first: https://api.vantage.sh/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1
                  next: null
                  last: https://api.vantage.sh/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1
                  prev: null
                total_cost:
                  amount: "500.0"
                  currency: USD
                costs:
                  - accrued_at: 2023-06-05
                    amount: "100.0"
                    currency: USD
                    provider: aws
                    account_id: mock_56789
                    service: AmazonSNS
                  - accrued_at: 2023-06-04
                    amount: "100.0"
                    currency: USD
                    provider: aws
                    account_id: mock_56789
                    service: AmazonSNS
                  - accrued_at: 2023-06-03
                    amount: "100.0"
                    currency: USD
                    provider: aws
                    account_id: mock_56789
                    service: AmazonSNS
                  - accrued_at: 2023-06-02
                    amount: "100.0"
                    currency: USD
                    provider: aws
                    account_id: mock_56789
                    service: AmazonSNS
                  - accrued_at: 2023-06-01
                    amount: "100.0"
                    currency: USD
                    provider: aws
                    account_id: mock_56789
                    service: AmazonSNS
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "402":
          description: PaymentRequired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
  /resources:
    get:
      tags:
        - Resources
      description: Return Resources contained in a ResourceReport
      operationId: getReportResources
      parameters:
        - name: resource_report_token
          in: query
          description: The ResourceReport token.
          schema:
            type: string
        - name: filter
          in: query
          description:
            The filter query language to apply to the Resources. Additional
            documentation available at https://docs.vantage.sh/vql.
          schema:
            type: string
        - name: workspace_token
          in: query
          description: The Workspace in which the Resources are located.
          schema:
            type: string
        - name: include_cost
          in: query
          description: Include cost information in the response.
          schema:
            type: boolean
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resources"
              example:
                links:
                  self: https://api.vantage.sh/v2/resources?resource_report_token=prvdr_rsrc_rprt_a92daa2d9d885dcc&include_cost=true
                  first: https://api.vantage.sh/v2/resources?resource_report_token=prvdr_rsrc_rprt_a92daa2d9d885dcc&include_cost=true&page=1
                  next: null
                  last: https://api.vantage.sh/v2/resources?resource_report_token=prvdr_rsrc_rprt_a92daa2d9d885dcc&include_cost=true&page=1
                  prev: null
                resources:
                  - token: prvdr_rsrc_4a1f4a30d86a586f
                    uuid: 0a997b68-281b-441b-865a-1ce183ae5f51
                    type: aws_instance
                    label: Faker::Business
                    metadata:
                      instance_id: null
                      image_id: null
                      region: null
                      vpc_id: null
                      subnet_id: null
                      public_ip_address: null
                      private_ip_address: null
                      public_dns_name: null
                      instance_type: null
                      platform: null
                      spot_instance_request_id: null
                      launch_time: 1728332095
                      instance_lifecycle: null
                      name: null
                      platform_type: Linux/UNIX
                      spot_info: null
                      spot_price: null
                      datadog_agent_installed: null
                      network_interfaces: null
                      tags: null
                      instance_type_name: t2.micro
                      lifecycle: normal
                    account_id: "734912804094"
                    billing_account_id: "734912804094"
                    provider: aws
                    region: us-east-1
                    cost: 200
                    created_at: 2024-10-06T20:14:55.898Z
                  - token: prvdr_rsrc_21a16d1b66e134d9
                    uuid: 0f21a7dc-a466-43fb-81e8-1cc2346482f4
                    type: aws_instance
                    label: Faker::Business
                    metadata:
                      instance_id: null
                      image_id: null
                      region: null
                      vpc_id: null
                      subnet_id: null
                      public_ip_address: null
                      private_ip_address: null
                      public_dns_name: null
                      instance_type: null
                      platform: null
                      spot_instance_request_id: null
                      launch_time: 1728332095
                      instance_lifecycle: null
                      name: null
                      platform_type: Linux/UNIX
                      spot_info: null
                      spot_price: null
                      datadog_agent_installed: null
                      network_interfaces: null
                      tags: null
                      instance_type_name: t2.micro
                      lifecycle: normal
                    account_id: "734912804094"
                    billing_account_id: "734912804094"
                    provider: aws
                    region: us-east-1
                    cost: 100
                    created_at: 2024-10-07T20:14:55.898Z
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "402":
          description: PaymentRequired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
  /resources/{resource_token}:
    get:
      tags:
        - Resources
      description: Return a single Resource
      operationId: getResource
      parameters:
        - name: resource_token
          in: path
          required: true
          schema:
            type: string
        - name: include_cost
          in: query
          description: Include cost information in the response.
          schema:
            type: boolean
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              example:
                token: prvdr_rsrc_99a293db073a2e99
                uuid: e930c92f-5449-4eaf-9ef5-4f714da1ab45
                type: aws_instance
                label: Faker::Business
                metadata:
                  instance_id: null
                  image_id: null
                  region: null
                  vpc_id: null
                  subnet_id: null
                  public_ip_address: null
                  private_ip_address: null
                  public_dns_name: null
                  instance_type: null
                  platform: null
                  spot_instance_request_id: null
                  launch_time: 1728479795
                  instance_lifecycle: null
                  name: null
                  platform_type: Linux/UNIX
                  spot_info: null
                  spot_price: null
                  datadog_agent_installed: null
                  network_interfaces: null
                  tags: null
                  instance_type_name: t2.micro
                  lifecycle: normal
                account_id: "565894339657"
                billing_account_id: "565894339657"
                provider: aws
                region: us-east-1
                costs:
                  - category: Data Transfer
                    amount: 3
                  - category: Compute Instance
                    amount: 3
                created_at: 2024-10-09T13:16:35.719Z
      security:
        - oauth2:
            - read
  /resource_reports:
    get:
      tags:
        - ResourceReports
      description: Return all ResourceReports.
      operationId: getResourceReports
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The number of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceReports"
              example:
                links:
                  self: https://api.vantage.sh/v2/resource_reports
                  first: https://api.vantage.sh/v2/resource_reports?page=1
                  next: null
                  last: https://api.vantage.sh/v2/resource_reports?page=1
                  prev: null
                resource_reports:
                  - token: prvdr_rsrc_rprt_eeb3d220dd1952b0
                    title: Resource Report 0faa74e0
                    filter: (resources.provider = 'aws')
                    created_at: 2024-10-09T13:33:40Z
                    workspace_token: wrkspc_795b158f3e71f27a
                    user_token: null
                    created_by_token: null
      security:
        - oauth2:
            - read
    post:
      tags:
        - ResourceReports
      description: Create a ResourceReport.
      operationId: createResourceReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createResourceReport"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceReport"
              example:
                token: prvdr_rsrc_rprt_e3ab8bc7fede39ed
                title: EC2 Report
                filter: resources.provider = 'aws' and resources.type = 'ProviderResource::Aws::VirtualMachine'
                created_at: 2024-10-09T13:33:41Z
                workspace_token: wrkspc_55f08f68b9a7bb53
                user_token: usr_aa3675519ffe841b
                created_by_token: usr_aa3675519ffe841b
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createResourceReport
  /resource_reports/{resource_report_token}:
    get:
      tags:
        - ResourceReports
      description: Return a ResourceReport.
      operationId: getResourceReport
      parameters:
        - name: resource_report_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceReport"
              example:
                token: prvdr_rsrc_rprt_e8a569debdc044a6
                title: Resource Report 44189cf9
                filter: (resources.provider = 'aws')
                created_at: 2024-10-09T13:33:40Z
                workspace_token: wrkspc_f861b07777a4d78c
                user_token: null
                created_by_token: null
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - ResourceReports
      description: Update a ResourceReport.
      operationId: updateResourceReport
      parameters:
        - name: resource_report_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateResourceReport"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceReport"
              example:
                token: prvdr_rsrc_rprt_f25a2029f76f0420
                title: EC2 Edited Report
                filter: resources.provider = 'aws' and resources.type = 'aws_ebs_volume'
                created_at: 2024-10-09T13:33:41Z
                workspace_token: wrkspc_eac05d4d2a1ba482
                user_token: null
                created_by_token: null
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateResourceReport
    delete:
      tags:
        - ResourceReports
      description: Delete a ResourceReport.
      operationId: deleteResourceReport
      parameters:
        - name: resource_report_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceReport"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /teams:
    get:
      tags:
        - Teams
      description: Return all Teams that the current API token has access to.
      operationId: getTeams
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Teams"
              example:
                links:
                  self: https://api.vantage.sh/v2/teams
                  first: https://api.vantage.sh/v2/teams?page=1
                  next: null
                  last: https://api.vantage.sh/v2/teams?page=1
                  prev: null
                teams:
                  - token: team_2d4733920ec4385e
                    name: New Mexico people
                    description: Consequuntur ratione.
                    workspace_tokens:
                      - wrkspc_08026aa5fb4c90f8
                    user_tokens:
                      - usr_c59398553e838116
      security:
        - oauth2:
            - read
    post:
      tags:
        - Teams
      description: Create a new Team.
      operationId: createTeam
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createTeam"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
              example:
                token: team_8467157535a30221
                name: New Team
                description: New Team Description
                workspace_tokens:
                  - wrkspc_52b6e5e663b4cde1
                user_tokens:
                  - usr_a00e614b5843c234
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createTeam
  /teams/{team_token}:
    get:
      tags:
        - Teams
      description: Return a specific Team.
      operationId: getTeam
      parameters:
        - name: team_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
              example:
                token: team_081e09bbb812d369
                name: Missouri cats
                description: Voluptas et.
                workspace_tokens:
                  - wrkspc_ddc003a2f0171bf8
                user_tokens:
                  - usr_7c309915e847cfc6
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - Teams
      description: Update a Team.
      operationId: updateTeam
      parameters:
        - name: team_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateTeam"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
              example:
                token: team_d617e73dcc6b57c5
                name: Updated Team
                description: Updated Team Description
                workspace_tokens:
                  - wrkspc_efc4284a56772481
                user_tokens:
                  - usr_d268561e520c7aac
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateTeam
    delete:
      tags:
        - Teams
      description: Delete a Team.
      operationId: deleteTeam
      parameters:
        - name: team_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /access_grants:
    get:
      tags:
        - AccessGrants
      description:
        Return all Access Grants that the current API token has access
        to.
      operationId: getAccessGrants
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrants"
              example:
                links:
                  self: https://api.vantage.sh/v2/access_grants
                  first: https://api.vantage.sh/v2/access_grants?page=1
                  next: null
                  last: https://api.vantage.sh/v2/access_grants?page=1
                  prev: null
                access_grants:
                  - token: rsrc_accss_grnt_c40f15062b6d5c37
                    resource_token: rprt_5a269d316483b01c
                    access: denied
                    team_token: team_fd5c524ba104712b
                    created_at: 2024-01-18T17:39:37Z
                    created_by: usr_eb8ce6bdc1fa31d5
                  - token: rsrc_accss_grnt_9723e984e93d8907
                    resource_token: dshbrd_a08561ec24875ac9
                    access: allowed
                    team_token: team_fd5c524ba104712b
                    created_at: 2024-01-18T17:39:37Z
                    created_by: usr_eb8ce6bdc1fa31d5
                  - token: rsrc_accss_grnt_eee5c4fd777d4dc8
                    resource_token: fldr_9d4ad1a769131c58
                    access: allowed
                    team_token: team_fd5c524ba104712b
                    created_at: 2024-01-18T17:39:38Z
                    created_by: usr_eb8ce6bdc1fa31d5
      security:
        - oauth2:
            - read
    post:
      tags:
        - AccessGrants
      description: Create an Access Grant.
      operationId: createAccessGrant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAccessGrant"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrant"
              example:
                token: rsrc_accss_grnt_9f8aeb3cedda3831
                resource_token: rprt_3b935d26cba36fb0
                access: denied
                team_token: team_26865e16e46028ae
                created_at: 2024-01-18T17:39:37Z
                created_by: usr_2fc38883da3726b9
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "406":
          description: NotAcceptable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createAccessGrant
  /access_grants/{access_grant_token}:
    get:
      tags:
        - AccessGrants
      description: Return a specific Access Grant.
      operationId: getAccessGrant
      parameters:
        - name: access_grant_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrant"
              example:
                token: rsrc_accss_grnt_07ed83a5069b91c4
                resource_token: rprt_b8df14aa8a4ad5c7
                access: denied
                team_token: team_14bd13a8bccb8406
                created_at: 2024-01-18T17:39:36Z
                created_by: usr_0e1cb254743b26cb
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - AccessGrants
      description: Update an AccessGrant.
      operationId: updateAccessGrant
      parameters:
        - name: access_grant_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAccessGrant"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrant"
              example:
                token: rsrc_accss_grnt_eea11f0d35318b0d
                resource_token: rprt_e84d7760ab2dd7dc
                access: allowed
                team_token: team_25fc4aa890869602
                created_at: 2024-01-18T17:39:36Z
                created_by: usr_57ed2fa2a7b30166
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateAccessGrant
    delete:
      tags:
        - AccessGrants
      description: Delete an Access Grant.
      operationId: deleteAccessGrant
      parameters:
        - name: access_grant_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrant"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /report_notifications:
    get:
      tags:
        - ReportNotifications
      description: Return all ReportNotifications.
      operationId: getReportNotifications
      parameters:
        - name: page
          in: query
          description: The page of results to return.
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The amount of results to return. The maximum is 1000.
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportNotifications"
              example:
                links:
                  self: https://api.vantage.sh/v2/report_notifications
                  first: https://api.vantage.sh/v2/report_notifications?page=1
                  next: null
                  last: https://api.vantage.sh/v2/report_notifications?page=1
                  prev: null
                report_notifications:
                  - token: rprt_ntfctn_7c09ca27d07d8d1e
                    title: Test Notification
                    cost_report_token: rprt_ba0a5a5201390d72
                    user_tokens:
                      - usr_27edb13f3beac3cb
                    frequency: weekly
                    change: percentage
      security:
        - oauth2:
            - read
    post:
      tags:
        - ReportNotifications
      description: Create a ReportNotification.
      operationId: createReportNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createReportNotification"
        required: true
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportNotification"
              example:
                token: rprt_ntfctn_8ce31b43a149cd2e
                title: New Report Notification
                cost_report_token: rprt_933010600676b02f
                user_tokens:
                  - usr_45e7d17e9f402226
                frequency: daily
                change: percentage
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "422":
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: createReportNotification
  /report_notifications/{report_notification_token}:
    get:
      tags:
        - ReportNotifications
      description: Return a ReportNotification.
      operationId: getReportNotification
      parameters:
        - name: report_notification_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportNotification"
              example:
                token: rprt_ntfctn_21b4287a212406b1
                title: Test Notification
                cost_report_token: rprt_d084c84455edc606
                user_tokens:
                  - usr_56d53f802edba3e6
                frequency: weekly
                change: percentage
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - read
    put:
      tags:
        - ReportNotifications
      description: Update a ReportNotification.
      operationId: updateReportNotification
      parameters:
        - name: report_notification_token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateReportNotification"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportNotification"
              example:
                token: rprt_ntfctn_b36b208a90ee87f6
                title: Updated Report Notification
                cost_report_token: rprt_07b88c04aa6bed8c
                user_tokens:
                  - usr_35ed19fadcfed8c9
                frequency: weekly
                change: dollars
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
      x-codegen-request-body-name: updateReportNotification
    delete:
      tags:
        - ReportNotifications
      description: Delete a ReportNotification.
      operationId: deleteReportNotification
      parameters:
        - name: report_notification_token
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportNotification"
        "404":
          description: NotFound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      security:
        - oauth2:
            - write
  /users:
    get:
      tags:
        - Users
[...]
